:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #8de0ec;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe ui';
}

*:focus {
	outline: 2px solid #4d4d4d;
	animation: focus-ani .4s ease-in;
}

a {
	text-decoration: none;
	color: unset;
}

html {
	background-color: rgba(226, 250, 226, 1)
}

header {
	display: flex;
	background-image: url("../img/header-bg.jpg");
	justify-content: space-between;
	height: 140px;
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 999;
}

@keyframes bggani {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0px;
	}
	0% {
		background-position: 0% 0%;
	}
}

header div {
	width: auto;
	display: flex;
	margin-right: 80px;
	align-items: center;
	height: 85px;
}

main {
	width: 100%;
	cursor: default;
	background: rgb(137, 197, 200);
	background: linear-gradient(0deg, rgba(137, 197, 200, 1) 0%, rgba(226, 250, 226, 1) 100%);
	z-index: -99999;
}

nav {
	background-color: #e2fae2;
	width: 200px;
	height: 1905px;
	border-right: 2px solid #909090;
	color: #303030;
	padding-left: 30px;
	padding-top: 40px;
	position: absolute;
	left: 0px;
}

nav p {
	margin-bottom: 5px;
	font-size: 22px;
	cursor: pointer;
	font-family: 'roboto';
	color: #303030;
}

nav p:hover {
	color: #101010;
}

h1 {
	text-align: center;
	color: #303030;
	font-family: roboto;
	text-transform: uppercase;
}

h2 {
	color: #303030;
	font-family: roboto;
	margin-top: 45px;
	font-size: 16px;
	text-transform: uppercase;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999999999;
	overflow: hidden;
	text-align: center;
}

.spinner {
	border: 10px solid var(--cyan);
	border-radius: 50%;
	border-top: 10px solid #8bdfec;
	width: 90px;
	height: 90px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.hide {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.1s, opacity 0.1s linear;
}

.incorrect {
	border: 1px solid rgb(195, 1, 1);
	color: rgb(195, 1, 1);
}

.history-table,
.exc-table {
	margin-left: 50%;
	transform: translateX(-50%);
	position: relative;
	width: 380px;
	border-collapse: separate;
	border-spacing: 0 10px;
	color: rgb(102, 102, 102);
	cursor: pointer;
}

.res-table {
	margin-left: 48%;
	transform: translateX(-50%);
	position: relative;
	width: 750px;
	border-collapse: separate;
	border-spacing: 0 20px;
	color: rgb(100, 100, 100);
	cursor: pointer;
}

.q-container {
	width: 60px;
	border-radius: 30px;
	position: fixed;
	height: 60px;
	right: 50px;
	bottom: 50px;
	overflow: hidden;
	transition: .3s;
	transition-timing-function: ease-in;
	cursor: pointer;
	text-align: center;
	opacity: 0.5;
	z-index: 2!important;
	box-shadow: 1px 1px 2px 2px rgba(22, 22, 22, 0.5);
	background-color: none;
}

.mobil {
	top: 45vh;
	position: fixed;
	margin-left: 50%;
	transform: translateX(-50%);
	text-transform: unset;
	color: rgb(68, 68, 68);
	font-family: 'roboto';
}

.q-container:hover {
	width: 270px;
	opacity: .9;
}

.q-container:hover .presq::before {
	content: " for help press ALT+ ";
	display: inline;
	opacity: .8;
	font-weight: normal;
	font-size: 25px;
	z-index: -1!important;
}

.presq {
	font-weight: bold;
	font-size: 35px!important;
	transition: .4s;
	font-family: "niveau-grotesk";
	width: 30px;
	text-align: start;
	margin-left: 17px;
	margin-top: 10px;
	width: 250px!important;
	color: rgb(36, 36, 36);
	z-index: -1;
}

.history-table td,
.exc-table td {
	text-align: center;
}

.res-table td {
	width: 300px;
	text-align: center;
	padding: 5px;
}

.res-table td:last-child {
	text-align: center;
	padding: 5px;
}
.headertitle
{
	color: var(--cyan);
	margin-bottom: 40px;
	border: 1px solid black;
	font-size: 25px;
}
.history-table td:nth-child(1) {
	text-align: start;
}

.history-table td:nth-child(3) {
	width: 80px;
	text-align: end;
}

.exc-table td:nth-child(1) {
	width: 150px;
	font-size: 20px;
}

.res-table td:nth-child(1) {
	
	font-weight: bold;
}

.history-table tr:hover,
.exc-table tr:hover {
	color: teal;
}

tr {
	margin-top: 40px;
}

.result {
	line-height: 90px;
}

.res-table tr:hover {
	cursor: text;
}

.res-table tr:nth-child(1) {
	height: 50px;
	font-weight: bold;
}

.fas {
	border: 1px solid var(--gray);
	font-size: 20px;
	border-radius: 25px;
	padding: 15px;
	transition: .5s;
}

.fas:hover {
	border: 1px solid var(--teal);
	background-color: var(--teal);
}

.hnav-point {
	margin: 5px 25px;
	font-size: 20px;
	font-family: 'Arial';
	font-weight: normal;
	transition: .4s;
	color: var(--gray-dark);
	cursor: pointer
}

.hnav-point:hover .fas {
	border: 1px solid var(--teal);
	background-color: var(--teal);
}

.btn {
	background-color: #399b75;
	color: white;
	cursor: pointer;
	border: none;
	padding: 5px 30px;
	font-size: 20px;
	border-radius: 3px;
}

.btn:hover {
	opacity: .8
}

.pag-btn {
	right: 50px;
	bottom: 50px;
	position: absolute;
}

.gb-btn {
	right: 140px;
	bottom: -60px;
	position: absolute;
}

.logo {
	width: 90px;
	left: 60px;
	position: relative;
	top: -15px;
	cursor: pointer;
}

.bg-top {
	width: 100%;
	z-index: 400;
	margin-top: -20px;
	position: absolute;
}

.header-title {
	width: auto;
	height: 60px;
	text-transform: unset;
	color: #707070;
	font-family: 'Roboto';
	align-items: center;
	margin-left: 50px;
	justify-content: center;
	font-size: 50px;
	font-weight: bold;
	z-index: 5;
}

.fas {
	margin-right: 5px;
}

.taskx-anima {
	animation: open-later-ani .6s ease-in;
}

.search-input {
	width: 130px;
	height: 30px;
	padding-left: 5px;
	border: none;
}

.content-container {
	height: 100%;
	width: 100%;
	margin-top: 30px;
	margin-left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.exc-container {
	width: 700px;
	height: auto;
	position: absolute;
	margin-left: 50%;
	transform: translateX(-50%);
}

.title {
	text-align: center;
	color: #555555;
	font-family: roboto;
	text-transform: uppercase;
	margin-top: -30px;
	margin-bottom: 60px;
	letter-spacing: 1px;
	font-size: 28px;
}

.ans-input {
	border-radius: 10px;
	height: 140px;
	width: 100%;
	margin-top: 60px;
	border: 1px solid #363636;
	text-indent: 10px;
	font-size: 14px;
	text-align: center;
	background-color: #f1eee8
}

.input .hr1 {
	background-color: #303030;
	height: 3px;
	border: none;
	margin-bottom: 3px;
}

.hr2 {
	background-color: #303030;
	height: 0.5px;
	border: none;
	margin-bottom: 40px;
	margin-top: 6px;
}

.content-container p {
	color: #303030;
	font-family: roboto;
	font-size: 16px;
	margin-top: 15px;
}

.headerlist {
	font-size: 20px;
	display: flex;
}

.headerlist li {
	width: 150px;
	list-style: none;
}

@keyframes open-later-ani {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes focus-ani {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

